<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 d-flex">
            <div class="card mt-4 d-flex flex-column w-100">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body d-flex flex-column">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text mb-auto">{{this.description}}</p>
                    <a href="#" class="btn btn-primary mt-2">Mua khóa học</a>
                </div>
            </div>  
        </div>

        {{/each}}
    </div>
</div>
