<div class="mt-4"></div>
    <div>
        <h3>Khóa học đã xóa của tôi</h3>
        <a href="/me/stored/courses">Thông tin khóa học</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác rỗng.
                    <a href="/me/stored/courses">Thông tin khóa học</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
</table>
</div>


{{!-- Confirm delete --}}

<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span> <!-- Đảm bảo có dấu x ở đây -->
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa khóa học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger" id="confirmDelete">Xóa</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var restoreBtn = $('.btn-restore');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        courseId = button.data('id')
        });

        var btnDeleteCourse = document.getElementById('btn-delete-course');
        btnDeleteCourse.onclick = function() {
            deleteForm.action = '/courses/' + courseId + '/force/?_method=DELETE';
            deleteForm.submit();
        };
        //restore btn clicked
        restoreBtn.click(function (e) {
            e.preventDefault();
            var courseId = $(this).data('id');

            restoreForm.action = '/courses/' + courseId + '/restore?_method=Patch';
            restoreForm.submit();
        })

    })
</script>